/** Base Level */
:root {
    /* Polar Night */
    --base-color: #2e3440;
    --base-color-transparent: #2e3440CC;
    --color-1: #3b4252;
    --color-2: #434c5e;
    --color-3: #4c566a;

    /* Snow Storm */
    --contrast-color-1: #d8dee9;
    --contrast-color-2: #e5e9f0;
    --contrast-color-3: #eceff4;

    /* Link Orange */
    --link-orange: #d08770;

    /* Background Colors */
    --background-dark: #1A1D24;
}

html {
    /* Box sizing to total values set, not added after the fact */
    box-sizing: border-box;
    /* Full Height */
    height: 100%;
}

body {
    /* Background color for webpage */
    background-color: var(--background-dark);
    background-image: url('../media/background.jpg');
    /* Default font color for page */
    color: var(--contrast-color-3);
    /* Full Height */
    height: 100%;
    /* Flexbox */
    display: flex;
    /* Align Horizontally */
    justify-content: center;
    align-items: center;
}

html,
body {
    margin: 0;
}

*, *:before, *:after {
    /* Use box sizing for all */
    box-sizing: inherit;
}


/********************/

/* Layout Design */

body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

a {
    color: var(--contrast-color-3);
    text-decoration: none;
}

.content {
    align-items: center;
    background-color: var(--base-color-transparent);
    border: solid 1px var(--contrast-color-3);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    padding: 25px;
    width: 100%;
}

.hl {
    flex: 1;
    height: 1px;
    border: solid 1px var(--contrast-color-3);
    min-width: 100px;
}

#left-lines {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

#me-image {
    border: solid 1px var(--contrast-color-3);
    border-radius: 50%;
    width: 15vw;
}

.menu-wrapper {
    align-items: center;
    display: flex;
    gap: 3vw;
    justify-content: center;
    width: 100%;
}

#right-lines {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.standard-list {
    display: flex;
    gap: 15px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.standard-list a {
    color: var(--contrast-color-3);
    text-decoration: none;
}

.standard-list li {
    /* border: solid 1px var(--contrast-color-3); */
    border-radius: 15%;
    padding: 15px;
}

.vl {
    border: solid 1px var(--contrast-color-3);
    height: 100%;
    width: 1px;
}

.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    justify-content: center;
    width: 80vw;
}

/* Transition Effects */

.listSelected {
    border: solid 1px var(--contrast-color-3);
}