:root {
    /* Polar Night */
    --base-color: #2e3440;
    --base-color-transparent: #2e3440CC;
    --color-1: #3b4252;
    --color-2: #434c5e;
    --color-3: #4c566a;

    /* Snow Storm */
    --contrast-color-1: #d8dee9;
    --contrast-color-2: #e5e9f0;
    --contrast-color-3: #eceff4;

    /* Link Orange */
    --link-orange: #d08770;

    /* Background Colors */
    --background-dark: #1A1D24;
}

html {
    /* Box sizing to total values set, not added after the fact */
    box-sizing: border-box;
    /* Full Height */
    height: 100%;
}

body {
    /* Background color for webpage */
    background-color: var(--background-dark);
    /* Default font color for page */
    color: var(--contrast-color-3);
    /* Full Height */
    height: 100%;
    /* Flexbox */
    display: flex;
    /* Align Horizontally */
    justify-content: center;
    align-items: center;
}

html,
body {
    margin: 0;
}

*, *:before, *:after {
    /* Use box sizing for all */
    box-sizing: inherit;
}

