:root {
    /* Polar Night */
    --base-color: #2e3440;
    --base-color-transparent: #2e3440CC;
    --color-1: #3b4252;
    --color-2: #434c5e;
    --color-3: #4c566a;

    /* Snow Storm */
    --contrast-color-1: #d8dee9;
    --contrast-color-2: #e5e9f0;
    --contrast-color-3: #eceff4;

    /* Link Orange */
    --link-orange: #d08770;

    /* Background Colors */
    --background-dark: #1A1D24;
}

/* prevents padding from adding width */
* { margin: 0; padding: 0; box-sizing: border-box; }
/* lets you use height 100% */
html, body { height: 100%; }

/* body styles could go to container, keeps height relative */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: var(--background-dark);
  background-image: url(../media/background.jpg);
  color: var(--contrast-color-3);
}

nav, nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80vw;
}
nav ul li a {
  color: var(--contrast-color-3);
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  display: block;
}


/* nav lines */
nav ul {
  list-style: none;
  border: 1px var(--contrast-color-3);
  border-style: none solid none solid;
}
nav > div {
  height: 1px;
  width: 80vw;
  background: var(--contrast-color-3);
}


.hidden {
  border-radius: 30px;
  background: var(--base-color-transparent);
  gap: 10vh;

  align-self: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  /* hide without display: none; */
  position: relative;
  visibility: hidden;
  pointer-events: none;
  height: 0;
  width: 0;
  transition: all 1s;
  overflow: hidden;
}

.hidden a {
  text-decoration: none;
  color: var(--link-orange);
}

.hidden:target {
  /* padding & border here since it adds size apart from 
     "children" which use overflow: hidden; from .hidden */
  padding: 25px;
  border: 2px solid var(--contrast-color-3);

  position: unset;
  visibility: visible;
  pointer-events: all;
  height:80vh;
  width: 80vw;
  max-height: 80vh;
}

/* children */
.hidden > * { opacity: 0; transition: opacity 1s; }
.hidden:target > * { opacity: 1; }

/* Image of me */
#me-image {
  border: 2px solid var(--contrast-color-3);
  /* Make it round */
  border-radius: 50%;
  width: 75%;
}

#me-image:hover {
  transform: scale(1.1);
}

.horizontalFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.verticalFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5vh;
  flex: 1;
  padding: 10px;
}

.title #nameTitle, h2 {
  display: inline;
}

#nameTitle {
  font-size: x-large;
  color: var(--link-orange);
  font-style: oblique;
}

p {
  font-size: 20px;
}

.horizontal-list {
  display: flex;
  flex: 1;
  list-style-type: none;
  gap: 5px;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 80%;
}

.horizontal-list a {
  flex: 1;
}

.icon-link {
  display: flex;
  align-items: center;
  background-color: var(--third-dark);
  padding: 5px;
  border: 1px solid var(--first-light);
  gap: 5px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px black;
  flex-direction: column;
  margin: auto;
}

.icon-link:hover {
  background-color: var(--link-orange);
  color: var(--background-dark);
  transform: scale(1.1);
}

.icon-link img {
  width: 50px;
  height: 50px;
}

#me-image, .icon-link {
  transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
}

#venmoImage {
  height: 80%;
}

@media (max-width:825px) {
  p {
    font-size: 14px;
  }
  .horizontalFlex {
    flex-direction: column;
    gap: 10px;
  }

  .hidden:target {
    height: 100%;
  }

  #me-image {
    width: 50%;
  }

  .horizontal-list {
    flex-direction: column;
  }
}